In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

%precision 3

'%.3f'

In [2]:
count_for_each_bill = pd.read_csv('data/count_for_each_billboard.csv')
count_for_each_bill.head()

   Unnamed: 0                      billboard_id    count
0           0  0e915318e852da4ec68c7b5c89f90860  2461345
1           1  2fb052b9fc62be6a199f716080267290   759260
2           2  73e2829cd07cfd3ee625f2ab202ff0d3   873317
3           3  c8c505947fa572674fe920e201da1e3f    37416
4           4  72cdb98c5ca7ce809888beba94143a2b  1584221

In [3]:
max_count_for_any_aud = count_for_each_bill['count'].max()
max_count_for_any_aud

6039418

In [5]:
new_data_s = pd.Series(['0','max',max_count_for_any_aud], index=count_for_each_bill.columns)
new_data_s

Unnamed: 0            0
billboard_id        max
count           6039418
dtype: object

In [6]:
count_for_each_bill = count_for_each_bill.append(new_data_s, ignore_index=True)
max_count = count_for_each_bill[count_for_each_bill['billboard_id'] == 'max']
max_count

       Unnamed: 0 billboard_id    count
103567          0          max  6039418

In [7]:
count_for_each_bill.shape

(103568, 3)

In [8]:
count_for_each_bill.to_csv('data/count_for_each_billboard_with_max.csv')

In [9]:
df = pd.read_csv('data/count_for_each_billboard_with_max.csv')
df.tail()

        Unnamed: 0  Unnamed: 0.1                      billboard_id    count
103563      103563        103563  4ded0252a5166366a49c81e1d4af7447      141
103564      103564        103564  5105ac66454b411f762938fb4fda5e30       69
103565      103565        103565  87f9ca19b9028223f9a51d27e558a8ad      239
103566      103566        103566  2c214ddc274828d8b329c6d6776cd4e6       84
103567      103567             0                               max  6039418