In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

%precision 3

'%.3f'

In [2]:
count_for_each_bill = pd.read_csv('data/count_for_each_billboard.csv')
count_for_each_bill.head()

   Unnamed: 0                      billboard_id    count
0           0  0e915318e852da4ec68c7b5c89f90860  2461345
1           1  2fb052b9fc62be6a199f716080267290   759260
2           2  73e2829cd07cfd3ee625f2ab202ff0d3   873317
3           3  c8c505947fa572674fe920e201da1e3f    37416
4           4  72cdb98c5ca7ce809888beba94143a2b  1584221

In [3]:
max_count_for_any_aud = count_for_each_bill['count'].max()
max_count_for_any_aud

6039418

In [4]:
new_data_s = pd.Series(['max',max_count_for_any_aud], index=count_for_each_bill.columns)
new_data_s

ValueError: Length of passed values is 2, index implies 3

In [ ]:
count_for_each_bill = count_for_each_bill.append(new_data_s, ignore_index=True)
max_count = count_for_each_bill[count_for_each_bill['billboard_id'] == 'max']
max_count

In [ ]:
count_for_each_bill.shape

In [ ]:
count_for_each_bill.to_csv('data/count_for_each_billboard.csv')

In [ ]:
df = pd.read_csv('data/count_for_each_billboard.csv')
df.tail()